:root {
  --white: #fafafa;
  --black: #444444;
  --pink1: #f59acc;
  --pink2: #d1a7bd;
  --pink3: #f77cbc;
  --purp1: #7818db;
  --purp2: #9630ff;
}

body, #app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--pink1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-box {
    width: 50%;
    min-width: 220px;
    min-height: 200px;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}

#text {
  flex: 2;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-family: Bodoni Moda, Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  line-height: 2em;
  letter-spacing: 0.5px;
}

#author {
  align-self: flex-end;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

#links {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

button {
  padding: 10px 25px;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: var(--purp1);
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: var(--purp2);
}

a {
  text-decoration: none;
  padding: 10px 25px;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: var(--pink2);
  color: white;
  border: none;
  border-radius: 3px;
}

a:hover {
  background-color: var(--pink3);
}